body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
}

h1 {
  text-align: center;
}

main > img {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  height: 40vh;
}

@media screen and (max-width: 500px) {
  main > img {
    height: 30vh;
  }
}

#description {
  margin-top: 2rem;
  font-size: 0.9rem;
}

#description h2 {
  font-size: 1.3rem;
}

#description code {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 0.15rem 0.3rem;
}

footer {
  text-align: center;
  margin-top: 3rem;
}
