@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Regular.ttf');
}

html {
  font-family: 'Rubik', sans-serif;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2em;
}

.chart-container {
  position: relative;
  margin: auto;
  width: 50vw;
  height: 40vh;
}

footer {
  position: relative;
  width: 50vw;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

footer h2 {
  font-size: 1.3em;
}

footer p {
  font-size: 0.8em;
}

footer code {
  font-family: monospace, sans-serif;
  background-color: gainsboro;
  padding: 2px 4px;
  border-radius: 3px;
}

#gaussian,
#logistic {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 10px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes gaussian-morph {
  from { background-color: rgba(255, 69, 0, 0.2); }
  to { background-color: rgba(255, 69, 0, 0.8); }
}

@keyframes logistic-morph {
  from { background-color: rgba(0, 128, 128, 0.2); }
  to { background-color: rgba(0, 128, 128, 0.8); }
}

#gaussian {
  animation-name: gaussian-morph;
}

#logistic {
  animation-name: logistic-morph;
}

#gaussian:hover,
#logistic:hover {
  cursor: pointer;
}

#github-logo {
  text-align: center;
  padding-top: 1em;
}
