@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Regular.ttf');
}

html {
  font-family: 'Rubik', sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

main {
  margin: auto;
  width: 50%;
  min-height: 30vh;
}

#description {
  position: relative;
  width: 50%;
  margin: 5rem auto 0 auto;
}

#description h2 {
  font-size: 1.3rem;
}

#description p {
  font-size: 0.8rem;
}

#description code {
  font-family: monospace, sans-serif;
  background-color: gainsboro;
  padding: 2px 4px;
  border-radius: 3px;
}

footer {
  text-align: center;
  padding-top: 1rem;
}
